{% extends 'polling_app/base/index.html' %}
{% load static %}
{% block css %}
	<style type="text/css">
		a {
		  color: black;
		}
	</style>
{% endblock %}
{% block content %}
<!--app-content open-->
<div class="app-content hor-content">
	<div class="container mt-2">
		<div class="row">
			{% for dt_polling in all_voting %}
				<div class="col-lg-6 col-md-6">
					<a href="{% url 'polling_app:show_polling' dt_polling.polling_id %}">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-2 col-lg-3 feature">
										<div class="fa-stack fa-lg fa-1x border btn-primary mb-3">
											<i class="fa fa-globe fa-stack-1x text-white"></i>
										</div>
									</div>
									 <div class="col-xl-10 col-lg-9">
										<div class="mt-1">
											<h4 class="fw-semibold">{{dt_polling.polling_question.title}}</h4>
											<p class="mb-0">Dibuat pada {{dt_polling.created_at|date:'d F Y H:i'}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		<!-- ROW-1 END -->
	</div>
</div>
<!-- CONTAINER END -->
{% endblock %}