{% load static %}
<!-- Mobile Header -->
<div class="mobile-header hor-mobile-header">
	<div class="container">
		<div class="d-flex">
			<a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a>
			<a class="header-brand" href="{% url 'polling_app:index_main' %}">
				<img src="{% static 'polling_app/images/brand/logo-3.svg' %}" class="header-brand-img desktop-logo mobile-light" alt="logo">
			</a>
			<div class="d-flex order-lg-2 ms-auto header-right-icons">
				<a href="#" class="navbar-toggler navresponsive-toggler d-md-none ms-auto" type="button">
					<span class="navbar-toggler-icon fe fe-log-in text-dark"></span>
				</a>
			</div>
		</div>
	</div>
</div>